@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap');

body {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-family: 'Geo', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #ebdf64;
  padding: 2rem;
  letter-spacing: 0.5rem;
}

h1 {
  background: url('../res/stripe.png') repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: trans 40s linear infinite;
  animation: trans 40s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes trans {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

section {
  margin: 0 auto;
}

.game-panel > span {
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  color: #db55dd;
}
span #score {
  color: white;
}

.page main {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
}

.page footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-size: 10px;
  font-family: raleway, sans-serif;
  color: white;
  letter-spacing: 0.1rem;
  text-align: center;
  color: white;
}

#container {
  color: white;
}

main {
  position: relative;
  text-align: center;
}

.space {
  margin: 0 auto;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.controls {
  fill: #42e9f4;
}

.menu-panel > ul {
  list-style-type: none;
}

.menu-panel > ul li {
  margin: 2rem;
  display: flex;
  align-items: center;
}

.start-btn {
  background-color: #db55dd;
  color: white;
}

.start-btn:link,
.start-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  transition: all 0.2s;
  position: absolute;
}

.start-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 0 rgba(219, 85, 221, 0.5);
}

.start-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 0 rgba(219, 85, 221, 0.5);
}

.start-btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.start-btn::after {
  background-color: #db55dd;
}

.start-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(900px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.menu-panel > h2 {
  color: #42e9f4;
  font-size: 33px;
  letter-spacing: 0.5rem;
}

.game-panel > .game {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ebdf64;
}

@media screen and (max-width: 600px) {
  .page header {
    font-size: 12px;
    padding: 1rem;
    height: 60px;
  }

  .space {
    width: 100vw;
  }
  .game {
    width: 100vw;
  }

  .page footer {
    font-size: 7px;
    height: 30px;
  }
}

.invisible {
  display: none !important;
}
