@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap');

body {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-family: 'Geo', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #ebdf64;
  padding: 2rem;
  letter-spacing: 0.5rem;
}

h1 {
  background: url('../res/stripe.png') repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: trans 40s linear infinite;
  animation: trans 40s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes trans {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

section {
  margin: 0 auto;
}

.page main {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
}

.page footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-size: 10px;
  font-family: raleway, sans-serif;
  color: white;
  letter-spacing: 0.1rem;
  text-align: center;
  color: white;
}

main {
  position: relative;
  text-align: center;
}

.space {
  margin: 0 auto;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.controls {
  fill: #42e9f4;
  margin-right: 2rem;
}

.menu-panel > ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.menu-panel > ul li {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-panel ul > li:nth-of-type(2) {
  padding-bottom: 6rem;
}

.start-btn {
  background-color: #db55dd;
  color: white;
}

.start-btn:link,
.start-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}

.start-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 0 rgba(219, 85, 221, 0.5);
}

.start-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 0 rgba(219, 85, 221, 0.5);
}

.start-btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.start-btn::after {
  background-color: #db55dd;
}

.start-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(900px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.menu-panel > h2 {
  color: #42e9f4;
  font-size: 28px;
  letter-spacing: 0.5rem;
  margin: 4rem;
}

.game-panel nav {
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  color: #db55dd;
  display: flex;
  align-items: center;
  justify-self: center;
}

.scorebar {
  width: 350px;
  margin-right: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav #score {
  color: white;
}

.back-btn,
.game-panel .sfx-switch {
  z-index: 3;
}

.back-btn > a {
  text-decoration: none;
  color: white;
}

.game-panel > .game {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ebdf64;
}

.gameover-panel {
  z-index: 3;
  font-size: 17px;
}

.gameover-panel .btn-animate.start-btn {
  margin: 3rem;
}

#rankings {
  width: 100%;
}

#rankings tr {
  line-height: 1.5rem;
}

.gameover-panel h2 {
  overflow: hidden;
  color: #42e9f4;
  font-size: 28px;
  letter-spacing: 0.5rem;
  margin: 1rem;
}

#highscore h2 {
  color: #ebdf64;
}

#highscore ul {
  list-style: none;
  padding: 0;
}

.submit-btn {
  font-size: 12px;
  text-decoration: none;
  border: none;
  padding: 4px 32px;
  background-color: #db55dd;
  color: white;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.score-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.4s;
  font-size: 12px;
  margin-top: 10rem;
  height: 10rem;
  color: black;
  font-weight: bold;
}

.score-form > small {
  margin: 2rem;
}

.game-panel > .score-form.yellow {
  background-color: rgba(235, 223, 100, 0.7);
}

@media screen and (max-width: 600px) {
  .page header {
    font-size: 12px;
    padding: 1rem;
    height: 60px;
  }

  .space {
    width: 100vw;
  }
  .game {
    width: 100vw;
  }

  .page footer {
    font-size: 7px;
    height: 30px;
  }
}

.invisible {
  display: none !important;
}
